{%- set external_urls = {
  'home': 'https://ktorch.readthedocs.io/en/latest/',
  'docs': 'https://ktorch.readthedocs.io/en/latest/',
  'examples': 'https://ktorch-examples.readthedocs.io/en/latest/',
  'github': 'https://github.com/ktorch',
  'gitapi': 'https://github.com/ktorch/ktorch',
  'giteg': 'https://github.com/ktorch/examples',
  'kx': 'https://code.kx.com/q/',
  'tutorials': 'https://pytorch.org/tutorials',
  'pytorchhome': 'https://pytorch.org/',
  'pytorchstart': 'https://pytorch.org/get-started',
  'pytorchdoc': 'https://pytorch.org/docs/stable/index.html',
  'pytorchgit': 'https://github.com/pytorch/pytorch'
}
-%}
