{%- set external_urls = {
  'home': 'https://ktorch.readthedocs.io/en/latest/',
  'docs': 'https://ktorch.readthedocs.io/en/latest/',
  'examples': 'https://ktorch-examples.readthedocs.io/en/latest/',
  'github': 'https://github.com/ktorch/ktorch',
  'githubex': 'https://github.com/ktorch/ktorch',
  'tutorials': 'https://pytorch.org/tutorials',
  'pytorchhome': 'https://oytorch.org/',
  'pytorchstart': 'https://pytorch.org/get-started',
  'pytorchdoc': ''https://pytorch.org/docs/stable/index.html',
  'pytorchgit': 'https://github.com/pytorch/pytorch'
}
-%}
