{%- set external_urls = {
  'docs': 'https://ktorch.readthedocs.io/en/latest/',
  'examples': 'https://ktorch-examples.readthedocs.io/en/latest/',
  'github': 'https://github.com/ktorch/ktorch',
  'tutorials': 'https://pytorch.org/tutorials',
  'home': 'https://ktorch.readthedocs.io/en/latest/',
  'get_started': 'https://pytorch.org/get-started',
  'features': 'https://pytorch.org/features',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
}
-%}
